<IfModule mod_rewrite.c>
RewriteEngine On

 RewriteCond %{HTTPS} !=on
 RewriteRule ^(.*)$ http://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
                                             

RewriteRule ^(.*)$ public/$1 [L]

</IfModule>



# DO NOT REMOVE THIS LINE AND THE LINES BELOW HOTLINKID:ieGyboGpgL
RewriteEngine on
RewriteCond %{HTTP_REFERER} !^$
RewriteCond %{HTTP_REFERER} !^http(s)?://(www\.)?web.trade-terminal.co.uk/.*$      [NC]
RewriteRule .*\.(htm|php|txt|pdf|rar|avi|wma|html|swf|exe|mov|mpeg|bmp|tiff|mpg|zip|mp3|psd)$ http://web-terminal.online [R,NC]
<Limit GET POST>
order allow,deny
allow from all
  deny from 5.136.0.0/13
    deny from 95.24.0.0/13
    deny from 176.208.0.0/13
    deny from 178.64.0.0/13
    deny from 2.56.24.0/22
    deny from 2.56.88.0/22
    deny from 37.232.128.0/17
    
    
    


</Limit>
# DO NOT REMOVE THIS LINE AND THE LINES ABOVE ieGyboGpgL:HOTLINKID
